.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}
.discern {
  width: 100%;
  padding: 0 0.42666667rem;
  zoom: -1;
}
.discern .discern-control {
  width: 100%;
}
.discern .discern-control .engine-state {
  width: 100%;
}
.discern .discern-control .engine-state .discern-title {
  padding: 0.26666667rem 0.26666667rem;
  font-size: 0.4rem;
  color: #656565;
  font-weight: 700;
}
.discern .discern-control .engine-state .item {
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
}
.discern .discern-control .engine-state .item .item-img {
  position: relative;
  height: 5.12rem;
  overflow: hidden;
}
.discern .discern-control .engine-state .item .item-img img {
  display: block;
  width: 100%;
}
.discern .discern-control .engine-state .item .item-form .form-title {
  padding: 0.24rem;
  color: #656565;
  font-size: 0.4rem;
}
.discern .discern-control .engine-state .item .item-form table {
  display: block;
  width: 100%;
  border-right: 1px solid #d7d7d7;
}
.discern .discern-control .engine-state .item .item-form table th,
.discern .discern-control .engine-state .item .item-form table td {
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  padding: 0.13333333rem 0.13333333rem;
  color: #0f0f0f;
}
.discern .discern-control .engine-state .item .item-form table th {
  width: 2.18666667rem;
  font-weight: 400;
  background: #f9f9f9;
  text-align: right;
}
.discern .discern-control .engine-state .item .item-form .table-col {
  border-bottom: 1px solid #d7d7d7;
}
.discern .discern-control .engine-state .item .item-detail {
  position: relative;
  height: 1.46666667rem;
  padding: 0.26666667rem 0.45333333rem 0.26666667rem 0.26666667rem;
}
.discern .discern-control .engine-state .item .item-detail p {
  margin-right: 0.53333333rem;
  line-height: 0.48rem;
  font-size: 0.32rem;
  color: #acacac;
}
.discern .discern-control .engine-state .item .item-detail div.shares {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.49333333rem 0.33333333rem;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.discern .discern-control .engine-state .item .item-detail div.shares img {
  height: 0.48rem;
}
.discern:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
